/*Global */

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');


body{
    font-family: 'Old Standard TT', serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin:0;
}
/*added auto to put things equal flexbox doesn'center things automatically so container auto helps*/
.container{
    margin:auto;
}

/* Navbar */
#navbar{
    text-transform: uppercase;
}

#navbar span{
    line-height: 5px;
    color: green;
}


#navbar li{
    display: inline;
    padding-right: 10px;
    list-style: none;
    padding: 15px;
}


#navbar a {
    text-decoration: none;
    color: #333;
}

/*Showcase */

#showcase{
    background:url('../images/showcase.jpg') no-repeat center center;
    margin-bottom: 20px;
    
}


#showcase .row{
    height: 500px;
    opacity: 0.9;
    display: flex;
    justify-content: center;

}

#showcase h1{
    font-size: 45px;
    margin: 0;
    padding: 20px;
}

#showcase p{
    color: #ccc;
    margin:0;
}

#showcase .showcase-content{
    background-color: #333;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
}

#follow-us{
    padding: 20px;
    background-color: blue;
    color: white;
}

/* Follow us page */

#follow-us{
    text-transform: uppercase;
}

#follow-us li{
    display: inline;
    padding-right: 10px;
    list-style: none;
    padding: 15px;
}

#follow-us a{
    text-decoration: none;
    color: #fff;
}


/* footer */

#footer{
    padding:20px;
    background-color: red;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}