/*Global */

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');


body{
    font-family: 'Old Standard TT', serif;
    font-size: 17px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    background-color: #ed1c23;
}

ul{
    padding: 0;
    margin:0;
}
/*added auto to put things equal flexbox doesn'center things automatically so container auto helps*/
.container{
    margin:auto;
}


img{
    width: 100%;
}

#main-header .highlight a{
    color: #00FF00;
}

#main-header a:hover{
    color: #ccc;
}


/* Navbar */


#main-header{
    background-color: #0660a9;
    border-bottom: 1px solid blue;
}


#main-header .title-1{
    color: #fff;
}

#main-header .title-2{
    color: #FFD700;
    font-style: italics;
}

#navbar{
    text-transform: uppercase;
}


#navbar li{
    display: inline;
    padding-right: 10px;
    list-style: none;
    padding: 15px 25px 15px 25px;
}


#navbar a {
    text-decoration: none;
    color: #ffff;
}

/*Showcase */

#showcase{
    background:url('../images/showcase.jpg') no-repeat center center;
    border-bottom: 1px solid blue;
    border-top: none;
    
}


#showcase .row{
    height: 500px;
    opacity: 0.8;
    display: flex;
    justify-content: center;

}

#showcase h1{
    font-size: 45px;
    margin: 0;
    padding: 20px;
}

#showcase p{
    color: #fff;
    margin:0;
}

#showcase .showcase-content{
    background-color: #0d76bd;
    color: #fff;
    border-radius: 90px;
    padding: 40px;
}


/* Spots section */

/*it is important to pick a large image if it is a background */
#spots{
    background: url('../images/spot-bg.jpg') no-repeat;
    
}

#spots .fa{
    color: #00FF00;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#spots img{
    margin: 20px;
}

#spots h1{
    color: yellow;
    font-size: 45px;
    text-decoration: underline;
    
}

#spots h2{
    font-size: 40px;
    color: #ed1c23;
    margin: 0;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-family: 'Potta One', cursive;
}

#spots ul{
    list-style: none;
    color: #0000FF;
    padding:0;
    font-family: 'Potta One', cursive;
    text-transform: uppercase;
    line-height: 50px;
}
}

#spots li{
    line-height: 2.5em;
    font-size: 15px;
}



/* Follow us page */

#follow-us{
    text-transform: uppercase;
}

#follow-us{
    padding: 20px;
    background-color: #0d76bd;
    color: #fff;
}


#follow-us li{
    display: inline;
    padding-right: 10px;
    list-style: none;
    padding: 15px 50px 15px 50px;
}

#follow-us a{
    text-decoration: none;
    color: #fff;
}

.fa {
    padding: 22px;
    width: 45px;
    text-align: center;
    border-radius: 50%;
  }


.fa-facebook {
    background-color: #3B5998;

  }
  
  .fa-twitter {
    background-color: #55ACEE;
  
  }
  

  .fa-instagram {
    background-color: #DE1B85;
  }
  
  .fa-youtube {
    background-color: #bb0000;

  }

/* features section */

#features{
    padding:10px;
    margin: 10px;
}

#features h2{
    color: #FFD700;
    text-transform: capitalize;
    font-style: bold;
    padding-bottom: 10px;
    font-size: 35px;
    text-decoration: underline;
    margin-bottom: 35px;
}



#features img{
    margin: 0 30 0 30px;
}

#features h4{
    color: #0000FF;
    text-transform: uppercase;
    font-size: 20px;
}

#features p{
    color:#fff;
    margin-bottom: 60px;
}



/*Gallery section */
#gallery {
    margin: 10px 40px 10px 40px;
    padding: 15px;
}

#gallery h2{
    color: gold;
    margin-bottom: 30px;
    text-decoration: underline;
}

#gallery img{
    width: 200px;
    height: 200px;

}

#gallery h4{
    color: #0000FF ;
}

#gallery p{
    color: #fff;
}

/* Contact page & about page*/

#page h2{
    color: gold;
    text-decoration: underline;
    font-size: 50px;
    z-index: 999;
    text-transform: uppercase;
    margin: 40px 0px;
    
}

#page p{
    color: #fff;
    margin-bottom: 35px;
    
}


#page img{
    height: 200px;
    width: 300px;
    padding: 0;
    margin: 15px;
}

.contact form{
    background-color: #0000FF;
    color: #fff;
    padding: 25px;
}

.contact form input[type="text"]{
    width: 50%;
    height: 30px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.contact form textarea{
    width: 50%;
    height: 150px;
    border-radius: 10px;
}

.contact form button{
    width: 50%;
    padding: 15px 0;
    border: none;
    background-color: brown;
    color: #fff;
    text-transform: uppercase;
}

.contact form button:hover{
    background-color: red;
    cursor: pointer;

}

.contact form label{
    text-transform: uppercase;
}


/* footer */

#footer{
    padding:20px;
    background-color: #888888;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}


/* Media Queries */

@media(max-width: 800px){
    #showcase h1, 
    #page h2{
        font-size: 32px;
        
    }

    #page p{
        max-width: 200px;
        text-align: center;
    }

    #page h2,
    #page img{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        }
}


@media(max-width: 500px){
    #showcase .showcase-content{
        padding: 30px 15px;
    }
}